/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

h4 {
  color: blue;
  margin-top: 50px;
  margin-bottom: 0px;
}

table {
  table-layout: auto;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  }

  th {
    text-align: left;
  }

  /* th:nth-child(1) {
    background-color: bisque;
    width: 35px;
  }
  
  th:nth-child(2) {
    width: 47%;
  }
  
  th:nth-child(3) {
    background-color: rgb(196, 222, 255);
    width: 160px;
  }

  .wrapper td:nth-child(1) {
    background-color: bisque;
    width: 20%;
  }
  
  .wrapper td:nth-child(2) {
    width: 30%;
  }
  
  .wrapper td:nth-child(3) {
    background-color: rgb(196, 222, 255);
    width: 50%;
  } */



